.{{cls}} {
  /* Card */
  --card-background: #ffffff;
  --card-text-color: color-mix(in srgb, #0f242e 90%, transparent);
  --card-heading-color: #0f242e;
  
  /* Icon */
  --icon: #262ed9;

  border-radius: 8px;
  padding: clamp(1rem, 4vw, 2rem);
  background: var(--card-background);
  color: var(--card-text-color);
  font-family: "Plus Jakarta Sans — Variable", Arial, sans-serif;
}

.{{cls}}_mark {
  width: 25%;
  height: auto;
  max-width: 4.25rem;
  color: var(--icon);
}

.{{cls}}_card-cta p {
  padding: 0;
  margin: 0;
}

.{{cls}}_text {
  color: var(--card-heading-color);
  font-size: clamp(1.5 * 1rem, ((1.5 - ((1.875 - 1.5) / (74 - 20) * 20)) * 1rem + ((1.875 - 1.5) / (74 - 20) * 100vw)), 1.875 * 1rem);
  margin-bottom: clamp(1.75 * 1rem, ((1.75 - ((2 - 1.75) / (74 - 20) * 20)) * 1rem + ((2 - 1.75) / (74 - 20) * 100vw)), 2 * 1rem) !important;
  font-weight: 500;
  line-height: 1.15em;
}

.{{cls}}_author {
  display: flex;
  align-items: center;
}

.{{cls}}_avatar {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.{{cls}}_author_info {
  display: flex;
  flex-direction: column;
}

.{{cls}}_name {
  color: var(--card-text-color);
  font-size: clamp(0.875 * 1rem, ((0.875 - ((1.125 - 0.875) / (74 - 20) * 20)) * 1rem + ((1.125 - 0.875) / (74 - 20) * 100vw)), 1.125 * 1rem);
  line-height: 1.65em;
}

.{{cls}}_role {
  margin-top: 0;
  font-size: clamp(0.875 * 1rem, ((0.75 - ((0.875 - 0.75) / (74 - 20) * 20)) * 1rem + ((0.875 - 0.75) / (74 - 20) * 100vw)), 0.875 * 1rem);
}

/* ---------------------- Mode - Light 2 ---------------------- */
.{{cls}}.theme-light-2 {
  /* Card */
  --card-background: #e9ecef;
}

/* ---------------------- Mode - Dark ---------------------- */
.{{cls}}.theme-dark {
  /* Card */
  --card-background: #0f242e;
  --card-text-color: color-mix(in srgb, #ffffff 90%, transparent);
  --card-heading-color: #ffffff;

  /* Icon */
  --icon: #e0fd8d;
}

/* ---------------------- Mode - Brand ---------------------- */
.{{cls}}.theme-brand {
  /* Card */
  --card-background: #bbc6e3;

  /* Icon */
  --icon: #0f242e;
}